<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html">
<head>
    <meta charset="UTF-8">
    <title>Petshop - Cadastrar Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form method="post" th:action="@{admin/cliente/salvar}">
        <span>Nome: </span><input name="nome"><br>
        <span>CPF: </span><input name="cpf"><br>
        <span>Nascimento: </span><input name="nascimento"><br>
        <input type="submit" value="Cadastrar">
    </form>

</body>
</html>